Repository lambdaclass/elephant_in_the_room, pull requests merged in 2018-08, with the labels that each got.

#417 fix post creation
  lib/elephant_in_the_room/sites/author.ex
  lib/elephant_in_the_room/sites/post.ex
Labels: waiting merge

#363 Add site image, description, favicon and title and add site meta tag
  lib/elephant_in_the_room/sites/post.ex
  lib/elephant_in_the_room/sites/site.ex
  lib/elephant_in_the_room/sites/sites.ex
  lib/elephant_in_the_room_web/controllers/post_controller.ex
  lib/elephant_in_the_room_web/controllers/site_controller.ex
  lib/elephant_in_the_room_web/faker/site.ex
  lib/elephant_in_the_room_web/plug/set_site.ex
  lib/elephant_in_the_room_web/templates/layout/_social_meta.html.eex
  lib/elephant_in_the_room_web/templates/layout/app.html.eex
  lib/elephant_in_the_room_web/templates/site/form.html.eex
  priv/repo/migrations/20180222205253_create_sites.exs
Labels: migration, waiting merge

#393 Magazine
  assets/css/_magazine.scss
  assets/css/_post.scss
  assets/css/app.scss
  lib/elephant_in_the_room/sites/magazine.ex
  lib/elephant_in_the_room/sites/post.ex
  lib/elephant_in_the_room/sites/sites.ex
  lib/elephant_in_the_room_web/controllers/magazine_controller.ex
  lib/elephant_in_the_room_web/controllers/post_controller.ex
  lib/elephant_in_the_room_web/faker/magazine.ex
  lib/elephant_in_the_room_web/faker/post.ex
  lib/elephant_in_the_room_web/router.ex
  lib/elephant_in_the_room_web/templates/layout/_navbar.html.eex
  lib/elephant_in_the_room_web/templates/magazine/edit.html.eex
  lib/elephant_in_the_room_web/templates/magazine/form.html.eex
  lib/elephant_in_the_room_web/templates/magazine/index.html.eex
  lib/elephant_in_the_room_web/templates/magazine/new.html.eex
  lib/elephant_in_the_room_web/templates/magazine/public_index.html.eex
  lib/elephant_in_the_room_web/templates/magazine/public_show.html.eex
  lib/elephant_in_the_room_web/templates/post/edit.html.eex
  lib/elephant_in_the_room_web/templates/post/form.html.eex
  lib/elephant_in_the_room_web/templates/post/index.html.eex
  lib/elephant_in_the_room_web/templates/post/new.html.eex
  lib/elephant_in_the_room_web/templates/post/public_show.html.eex
  lib/elephant_in_the_room_web/templates/site/show.html.eex
  lib/elephant_in_the_room_web/views/admin_view.ex
  lib/elephant_in_the_room_web/views/magazine_view.ex
  lib/elephant_in_the_room_web/views/post_view.ex
  priv/repo/data_generator.ex
  priv/repo/migrations/20180723152156_create_magazines.exs
  test/elephant_in_the_room/sites/sites_test.exs
  test/elephant_in_the_room_web/controllers/magazine_controller_test.exs
Labels: migration

#408 Feedback functionality
  assets/css/app.scss
  lib/elephant_in_the_room/posts/featured.ex
  lib/elephant_in_the_room/sites/feedback.ex
  lib/elephant_in_the_room/sites/sites.ex
  lib/elephant_in_the_room_web/controllers/author_controller.ex
  lib/elephant_in_the_room_web/controllers/category_controller.ex
  lib/elephant_in_the_room_web/controllers/feedback_controller.ex
  lib/elephant_in_the_room_web/controllers/role_controller.ex
  lib/elephant_in_the_room_web/controllers/user_controller.ex
  lib/elephant_in_the_room_web/endpoint.ex
  lib/elephant_in_the_room_web/router.ex
  lib/elephant_in_the_room_web/templates/category/index.html.eex
  lib/elephant_in_the_room_web/templates/feedback/feedback_form.html.eex
  lib/elephant_in_the_room_web/templates/feedback/index.html.eex
  lib/elephant_in_the_room_web/templates/feedback/show.html.eex
  lib/elephant_in_the_room_web/templates/layout/app.html.eex
  lib/elephant_in_the_room_web/templates/site/public_show.html.eex
  lib/elephant_in_the_room_web/templates/site/show.html.eex
  lib/elephant_in_the_room_web/templates/tag/index.html.eex
  lib/elephant_in_the_room_web/views/admin_view.ex
  lib/elephant_in_the_room_web/views/feedback_view.ex
  priv/repo/migrations/20180730151758_create_feedback.exs
Labels: migration

#435 Custom ads title
  assets/css/_landing_page.scss
  lib/elephant_in_the_room/sites/site.ex
  lib/elephant_in_the_room_web/faker/site.ex
  lib/elephant_in_the_room_web/templates/site/_ads.html.eex
  lib/elephant_in_the_room_web/templates/site/form.html.eex
  lib/elephant_in_the_room_web/templates/site/public_show.html.eex
  priv/repo/migrations/20180222205253_create_sites.exs
Labels: migration
